/* src/entries/web.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Variables CSS personalizadas para reemplazar la regla @theme de Tailwind */
:root {
  --font-sans: "Inter", sans-serif;
  --color-primary: #ff501c;
  --color-secondary: #222222;
  
  /* Sobrescribir variables nativas de Bootstrap si deseas reemplazar su color primario */
  --bs-primary: #ff501c;
  --bs-primary-rgb: 255, 80, 28;
}

body {
  font-family: var(--font-sans);
}